body {
  font-family: Lato;
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

/*header*/

.header_wrapper {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 15px 0;
  z-index: 1;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4e4e4e;
}

.header_button {
  font-size: 12px;
  padding: 14px 12px;
  color: #fff;
  background-color: #74cfae;
  display: inline-block;
  transition: 0.3s;
  text-decoration: none;
}

.header_button:hover {
  color: #333;
}

.hamberger_wrapper {
  display: none;
}

/*main*/

/*main_title*/

.main_theme_wrapper {
  padding: 320px 0 250px;
  background-color: #f2f2f2;
}

.main_theme {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  text-align: center;
  font-family: Raleway;
}

.sub_theme {
  font-size: 30px;
  color: #c0c0c0;
  text-align: center;
  box-sizing: border-box;
  margin-top: 20px;
}

/*section*/

.main_section_wrapper {
  background-color: #74cfae;
  color: #fff;
  padding-top: 50px;
  text-align: center;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.main_section_img {
  width: 30%;
  float: left;
}

.main_section_content {
  float: right;
  width: 70%;
}

.main_section_content_title {
  font-size: 24px;
  margin-bottom: 35px;
  font-family: Raleway;
}

.main_section_content_description {
  font-size: 20px;
  width: 700px;
  margin: 0 auto;
  line-height: 30px;
}

/*article*/

.article_wrapper {
  background-color: #f2f2f2;
  padding: 60px 0 70px;
}

.article_title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
  font-family: Raleway;
  color: #333;
}

.article_main_content {
  line-height: 0;
  display: flex;
  flex-wrap: wrap;
}

.article_main_content .article_anchor {
  margin-top: 80px;
  margin-left: 100px;
}

.article_main_content .article_anchor:nth-child(-n+3) {
  margin-top: 0;
}

.article_main_content .article_anchor:nth-child(3n+1) {
  margin-left: 0;
}

.article_content {
  opacity: 0.7;
  transition: 0.3s;
}

.article_content:hover {
  opacity: 1.0;
}

.article_content_description {
  display: inline-block;
  text-align: center;
  float: left;
  font-family: Raleway;
  width: 490px;
  color: #333;
  line-height: 20px;
}

.article_content_button {
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-left: 90px;
  text-decoration: none;
  transition: 0.3s;
}

.article_content_button:hover {
  color: #333;
}

.article_sub_content {
  display: flex;
  margin-top: 90px;
  align-items: center;
  justify-content: center;
}

/*section*/

.sub_section_wrapper {
  background-color: #4e4e4e;
  color: #fff;
  width: 100%;
  display: inline-block;
  padding-bottom: 100px;
  padding-top: 70px;
 }

.sub_section {
  font-size: 0;
  text-align: center;
}

.sub_section_title {
  font-size: 24px;
  margin-bottom: 70px;
  text-align: center;
}

.sub_section .sub_section_content {
  display: inline-block;
  font-size: 16px;
  margin-left: 180px;
}

.sub_section .sub_section_content:nth-child(2) {
  margin-left: 0;
}

.sub_section_content_title{
  margin-top: 10px;
}

/*nav*/

.nav_wrapper {
  width: 100%;
  background-color: #f2f2f2;
  padding: 200px 0;
  font-size: 0;
  text-align: center;
}

.nav_wrapper i {
  font-size: 32px;
  color: #74cfae;
  transition: 0.3s;
  position: relative;
  top: 20%;
}

.sns_icon_format:hover {
  background-color: #fff;
}

.sns_icon_format {
  height: 60px;
  line-height: 60px;
  width: 185px;
  box-sizing: border-box;
  display: inline-block;
  transition: 0.3s;
}

/*footer*/

.footer_wrapper {
  background-color: #74cfae;
  width: 100%;
  padding: 20px 0 25px;
}

.copyright {
  text-align: right;
  color: #fff;
}

/*responsive*/

@media(max-width: 1199px){

  .inner{
    width: 97%;
  }

  /*WHAT WE CAN DO*/
  .main_section_wrapper {
    padding: 50px 0 25px;
    text-align: center;
  }
  
  .main_section_img {
    float: none;
    width: auto;
  }
  
  .main_section_content {
    float: none;
    width: auto;
    margin-top: 20px;
  }

  /*OUR LATEST WORK*/ 
  
  .article_main_content {
    flex-direction: column;
    margin-bottom: 80px;
  }
  
  .article_main_content .article_anchor {
    text-align: center;
    width: 300px;
    margin: 0 auto;
  }
  
  .article_main_content .article_anchor:nth-child(3n+1) {
    margin-left: auto;
  }

  .article_main_content .article_anchor:nth-child(3n) {
    margin-bottom: 80px;
  }

  .article_main_content .article_anchor:last-child {
    margin-bottom: 0;
  }

  .article_sub_content {
    flex-direction: column;
    margin-top: 0;
  }

  .article_content_description {
    margin-bottom: 40px;
    width: 100%;
    font-family: Lato;
    font-size: 15px;
  }
  
  .article_content_button {
    margin-left: 0;
  }
  
  /*OUR SKILLS*/
  .sub_section .sub_section_content {
    display: block;
    font-size: 16px;
    margin-left: 0;
    padding-bottom: 88px;
    background-color: #4e4e4e;
  }

  .sub_section_content:last-child{
    padding-bottom: 0;
  }

}

@media(max-width: 767px) {

  /*header*/
  .header_button {
    display: none;
  }

  .hamberger_wrapper {
    padding: 10px;
    display: block;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .hamberger_menu {
    display: block;
    position: relative;
    top: -5px;
    padding: 6px 0 6px;
  }

  .hamberger_inner {
    width: 25px;
    height: 2px;
    background-color: #ddd;
    position: relative;
  }

  .hamberger_inner:nth-of-type(2) {
    top: 5px;
  }

  .hamberger_inner:nth-of-type(3) {
    top: 10px;
  }

  /*main*/
  .main_theme_wrapper {
    padding: 230px 0 130px;
  }
  
  .main_theme {
    font-size: 80px;
  }

  .main_section_content_description {
    width: auto;
  }

  /*sns*/
  .nav_wrapper {
    padding: 50px 0; 
  }

  .nav_wrapper i{
    font-size: 50px;
    top: 30%;
  }
  
  .sns_icon_format {
    width: 100%;
    height: 120px;
    line-height: 60px;
    box-sizing: border-box;
    display: inline-block;
  }

}

